* { box-sizing: border-box; }

@font-face {
  font-family: 'heavitas';
  src: url('heavitas-webfont.woff2') format('woff2'),
       url('heavitas-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('OpenSans-ExtraBold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


.lander{
  width:90%;
  margin-left:auto;
  margin-right: auto;
}

.hero {
  vertical-align: top;
}
.hero div{
  padding:10px;
  display:inline-block;
  
}
.hero img{
  display:inline-block; 
}

.banner img{
  width:100%;
}



.icon_plots {
  width:100%;
  margin:40px;
  margin-left: auto;
  margin-right: auto;
  display:block;
  text-align: center;
}
.icon_plots div {
  width:30%;
  display: inline-block;
}

.icon_plots img{
  width:50%;
}

.map {
  width:100%;
  display:block;
  margin:40px;
  margin:0;
  padding:0;
  
}







 .tab {
  overflow: hidden;
  
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 10px 10px 20px;
  transition: 0.3s;border-radius: 20px 20px 0px 0px ;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #851847;

}


.tab_buttons.active h5 {
  color:white;
}

.tab_content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #851847;
  
}

.edit_plot{
  color:black; 
  width:100px;
  background-color:none;
}

.edit_plot:disabled{
  border:0;
  padding:0;
}


.edit_profile{
  color:black; 
  width:100%;
  display:inline-block;
  
  
  
}

.edit_profile:disabled{
  border:0;
  background-color: #f1f1f1;
  padding:0;
  margin:0;
}

.admin_tab {
  overflow: hidden;
  
}

.admin_tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 10px 10px 20px;
  transition: 0.3s;border-radius: 20px 20px 0px 0px ;
}

.admin_tab button:hover {
  background-color: #ddd;
}

.admin_tab button.active {
  background-color: #851847;

}
.admin_tab_buttons.active h5 {
  color:white;
}

.admin_tab_content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #851847;
  
}








.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width:100%;
  
  
  
}
input {
  padding:10px; margin:5px; scroll-margin-top:5px;
}
select {
  padding:10px; scroll-margin-top:5px;
}
input[type=button] {
  background-color: #07814E;
  color: #fff;
  border:0px;
  cursor:pointer;
  margin:5px;
  width:100px;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.list {
  padding: 30px;
  border-collapse: collapse;
  width:100%;
}

.list td, .list th {
  border: 1px solid #ddd;
  padding: 8px;
}

.list tr:nth-child(even){background-color: #f2f2f2;}

.list tr:hover {background-color: #ddd;}

.list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #07814E;
  color: white;
}

.console {
  
  width:90%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}



.my_profile {
  width:20%; 
  display:inline-block;
  border-radius: 20px;
  background-color: #f1f1f1;
  padding:20px;
  min-width: 250px;
}




.my_plots{
  display:inline-block; 
  width:70%;
  vertical-align: top;
  margin-left:20px;
}



body {
  font: 16px Arial, Helvetica, sans-serif;
  margin:0px;

}
h1 {
  font-family: 'heavitas';
  color: 07814E;
  font-size: 24pt;

}

h2 {
  font-family: 'heavitas';
  font-size: 24pt;
  color: #94C727;
}

h3 {
  font-family: 'OpenSans-ExtraBold';
  font-size: 18pt;
  color: 07814E;
  margin:0;
}

h4 {
  font-family: 'OpenSans-ExtraBold';
  font-size: 18pt;
  color: #94C727;
  margin:0;
}

h5 {
  font-family: 'OpenSans-ExtraBold';
  font-size: 10pt;
  color: #000;
  margin:5px;
  margin-left:0px;
}

h6 {
  font-family: 'OpenSans-ExtraBold';
  font-size: 24pt;
  color: #851847;
  margin:20px;
}





 /* For mobile phones: */

.header {
  width: 100%;
  position: fixed;
  color:#94C727;
  font-family: 'heavitas';
  font-size:12pt;
  background-color: white;
}

.header_logo {
  width:50%;
  margin:10px;
  margin-left:20px;
  margin-top:20px;
  display: inline-block;
}
.header_buttons {
  display:none;
}

.banner{
   width:100%;
   display:inline-block; 
   
  }

.sign_in{
  width:70%;
  display:inline-block;
  
  
}


.sign_in input {
  width:100%;
}
.banner2 {
  width:75px;
  display: inline-block;
  margin-left:20px;
}


.gallery {
  column-count: 2;
  column-gap: 3px;
 }


 .gallery img{
  width:100%;
  padding:3px;
 }


/* For tablets: */
@media only screen and (min-width: 780px) {
  
  
  .header_buttons {
    text-align: right;
    width:40%;
    margin:10px;
    display:inline-block;
  }

  .header_buttons span{
    margin-right:20px;
  }



  .welcome {
    display:inline-block;
    width:100%;
    vertical-align: top;
    padding:40px;
  }



  .gallery {
    column-count: 3;
  }


  .gallery img{
    padding:10px;
  }
  
}







@media only screen and (min-width: 1200px) {
  
  /* For big  desktop: */
  
  .banner {
    width:60%
  }
  
.sign_in{
  width:250px;
  display:inline-block;
  
  
}

.banner2 {
  width:75px;
  display: inline-block;
}


.welcome {
  width:45%;
}

  h1 {
    font-size: 24pt;
  } 
}